basic:
  dataset: "fer2013"
  device: "auto"
  num_workers: 8
  seed: 42
  use_amp: true

model:
  name: "se_resnet18"
  scalable_model_scale: "pico"
  use_torch_compile: false

data:
  root: "./data/cifar10"
  train_path: "./data/cifar10/train"
  val_path: "./data/cifar10/test"
  test_path: "./data/cifar10/test"
  grayscale_output_channels: 1  

augmentation:
  use_tta: true
  tta_angles: [7.5, -7.5, 4.0, -4.0]
  resize_size: 48
  crop_size: 32
  horizontal_flip_prob: 0.5
  random_rotation_degrees: 10
  random_erasing_prob: 0.25
  color_jitter_prob: 0.0
  random_affine_prob: 0.25
  gaussian_blur_prob: 0.15
  color_jitter_brightness: 0.2
  color_jitter_contrast: 0.2
  color_jitter_saturation: 0.1
  random_affine_translate: [0.1, 0.1]
  random_affine_scale: [0.9, 1.1]
  gaussian_blur_sigma: [0.1, 0.9]
  use_randaugment: false
  randaugment_n: 2
  randaugment_m: 8

training:
  batch_size: 128
  epochs: 1
  lr: 0.00055
  weight_decay: 0.03
  patience: 999
  gradient_clip: 1.0

optimizer:
  name: "adamw"
  betas: [0.9, 0.999]
  momentum: 0.9

scheduler:
  name: "cosine"
  switch_to_plateau_epoch: 999
  use_warmup: true
  warmup_epochs: 15
  cosine_t_max: 400
  cosine_eta_min: 8e-07
  cosine_T_mult: 1.0
  step_size: 25
  gamma: 0.1
  plateau_patience: 12
  plateau_factor: 0.1

loss:
  type: "sce"
  sce_alpha: 1.5
  sce_beta: 1.0
  sce_ce_only_epochs: 8
  focal_gamma: 2.0
  gce_q: 0.8
  label_smoothing: 0.1
  dynamic_label_smoothing: false

strategies:
  mixup_alpha: 0.25
  mixup_prob: 0.45
  cutmix_alpha: 0.9
  cutmix_prob: 0.35
  use_class_weights: false
  class_weights: [1.4, 4.5, 1.3, 1.1, 1.2, 1.3, 1.5]

logging:
  save_checkpoints: false
  save_freq: 10
  log_freq: 2
  save_best_only: true

normalization:
  mean: [0.5]
  std: [0.5]
