basic:
  dataset: "cifar10"
  device: "auto"
  num_workers: 8
  seed: 42
  use_amp: true

model:
  name: "resnet50"
  scalable_model_scale: "null"
  use_torch_compile: false

data:
  root: "./data/cifar10"
  train_path: "./data/cifar10/train"
  val_path: "./data/cifar10/test"
  test_path: "./data/cifar10/test"
  grayscale_output_channels: 3  

augmentation:
  use_tencrop: false
  
  use_tta: false
  tta_angles: []

  enable_resize: false
  resize_size: 32

  enable_random_crop: true
  random_crop_padding: 4
  crop_size: 32

  horizontal_flip_prob: 0.5

  enable_rotation: false
  random_rotation_degrees: 0

  enable_erasing: false
  random_erasing_prob: 0.0

  enable_color_jitter: false
  color_jitter_prob: 0.0
  color_jitter_brightness: 0.0
  color_jitter_contrast: 0.0
  color_jitter_saturation: 0.0
  color_jitter_hue: 0.0

  enable_affine: false
  random_affine_prob: 0.0
  random_affine_translate: [0.0, 0.0]
  random_affine_scale: [1.0, 1.0]

  enable_blur: false
  gaussian_blur_prob: 0.0
  gaussian_blur_sigma: [0.0, 0.0]

  use_randaugment: false
  randaugment_n: 0
  randaugment_m: 0

training:
  batch_size: 128
  epochs: 200
  lr: 0.1
  weight_decay: 0.0005
  patience: 40
  gradient_clip: 0.0

optimizer:
  name: "sgd"
  betas: [0.9, 0.999]
  momentum: 0.9

scheduler:
  name: "cosine"
  switch_to_plateau_epoch: -1
  use_warmup: true
  warmup_epochs: 5
  cosine_t_max: 195
  cosine_eta_min: 1.0e-04
  cosine_T_mult: 1.0
  step_size: 0
  gamma: 0.1
  plateau_patience: 0
  plateau_factor: 0.1

loss:
  type: "ce"
  sce_alpha: 1.0
  sce_beta: 0.1
  sce_ce_only_epochs: 10
  focal_gamma: 2.0
  gce_q: 0.7
  label_smoothing: 0.0
  dynamic_label_smoothing: false

strategies:
  mixup_alpha: 0.0
  mixup_prob: 0.0
  cutmix_alpha: 0.0
  cutmix_prob: 0.0
  use_class_weights: false
  class_weights: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

logging:
  save_checkpoints: false
  save_freq: 10
  log_freq: 2
  save_best_only: true
  resume: "./checkpoint"

normalization:
  mean: [0.4914, 0.4822, 0.4465]
  std:  [0.2023, 0.1994, 0.2010]
