basic: 
  dataset: "cifar100"   
  device: "auto" 
  num_workers: 4      
  seed: 42 
  use_amp: true 

model: 
  name: "resnet50"      
  pretrained: true     

data: 
  root: "E:/data"      
  train_path: "E:/data/cifar100/train"        
  val_path: "E:/data/cifar100/test" 
  img_size: 32         
  grayscale_output_channels: 3 

training: 
  batch_size: 128 
  epochs: 200          
  loss_type: "ce"      
  label_smoothing: 0.1 
  
  mixup_prob: 0.5      
  mixup_alpha: 0.2 
  cutmix_alpha: 1.0    

optimizer: 
  optimizer: "sgd"     
  lr: 0.1              
  momentum: 0.9 
  weight_decay: 0.0005  

scheduler: 
  scheduler: "cosine"  
  warmup_epochs: 5 